{% load static %}

<div class="b-form b-section">
  <form id="change_pwd_form" submit-type="restful" method="post" _ext_method="update"
        action="{% url 'shop:api_user_password' %}">
    <h2>修改密码</h2>

    {% include 'shop/inc/table_form.html' %}

    <div class="b-actionbar">
      <input class="b-action b-action-accent b-card" type="submit" value="修改密码">
    </div>
  </form>

  <script src="{% static 'shop/js/user.js' %}"></script>
  <script src="{% static 'shop/js/sha256.min.js' %}"></script>
  <script>
      let change_pwd_form = document.getElementById('change_pwd_form');
      change_pwd_form.submitBefore = function () {
          encryption(this);
          let pw1 = this.querySelector('#id_new_password');
          let pw2 = this.querySelector('#id_new_password_again');
          // 检查两次密码输入是否一致
          if (pw_check(pw1, pw2) === true) {
              return {'checked': true, 'error_info': null};
          } else {
              return {'checked': false, 'error_info': '两次输入的新密码不一致。'};
          }
      }
  </script>
</div>
