:root {
    --primary-color: #4f8da3;
    --accent-color: red;
    --primary-text-color-light: rgba(255, 255, 255, 1);
    --primary-text-color-dark: rgba(0, 0, 0, .9);
    --secondary-text-color-light: rgba(255, 255, 255, .7);
    --secondary-text-color-dark: rgba(0, 0, 0, .7);
    --divider-color-dark: rgba(0, 0, 0, .15);
    --divider-color-light: rgba(255, 255, 255, .15);
}

html, body {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: underline;
}

body {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    color: var(--primary-text-color-dark)
}

body > header, body > main, body > footer {
    padding: 32px 64px;
    align-items: stretch;
}

body > header, body > footer {
    color: var(--primary-text-color-light);
    background: var(--primary-color);
}

.card {
    box-shadow: rgba(0, 0, 0, .2) 0 6px 24px;
    border-radius: 4px;
}


/*    页面头部    */

body > header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    --action-padding: 4px 8px;
    --action-font-size: 16px;
    --action-color: var(--secondary-text-color-light);
    --action-border: var(--secondary-text-color-light) 1px solid;
    --action-hover-bg: var(--divider-color-light);
}

body > header .title {
    font-size: 50px;
    flex-grow: 1;
}

body > header .title .sub {
    color: var(--secondary-text-color-light);
    font-size: 24px;
    font-weight: lighter;
}

body > header .search input {
    padding: var(--action-padding);
    font-size: var(--action-font-size);
    color: var(--action-color);
    background: transparent;
    outline: none;
}

body > header .search input[type=text] {
    border-top: none;
    border-right: none;
    border-bottom: var(--action-border);
    border-left: none;
}

body > header .search input[type=submit] {
    border: var(--action-border);
    cursor: pointer;
}

body > header .search input[type=submit]:hover {
    background: var(--action-hover-bg);
}

body > header .actionbar {
    margin-left: 16px;
    overflow: hidden;
    font-size: var(--action-font-size);
    border: var(--action-border);
}

body > header .action {
    padding: var(--action-padding);
    display: block;
    float: left;
    color: var(--action-color);
    border-right: var(--action-border);
    text-decoration: none;
}
body > header .action:last-child {
    border-right: none;
}

body > header .action:hover {
    background: var(--action-hover-bg);
}


/*    页面中部    */

body > main {
    flex-grow: 1;
}

body > main h1 {
    color: var(--primary-text-color-dark);
    font-weight: normal;
}


/*    商品列表    */

ul.goods-list {
    margin: 24px 0;
    padding: 0;
}

ul.goods-list li {
    padding: 16px 0;
    list-style: none;
    border-top: var(--divider-color-dark) 1px solid;
    display: flex;
    align-items: start;
}

ul.goods-list li .img {
    width: 70px;
}

ul.goods-list li .text {
    flex-grow: 1;
    margin-left: 16px;
}

main ul.goods-list li .name {
    color: var(--primary-color);
    font-size: 18px;
    font-weight: bold;
}

ul.goods-list li .price {
    color: var(--accent-color);
    font-size: 24px;
}

ul.goods-list li .price:before {
    content: "¥";
    margin-right: 2px;
    font-size: 16px;
}

ul.goods-list li .seller {
    color: var(--secondary-text-color-dark);
    font-size: 12px;
}


/*    商品详情    */

.goods-detail header {
    display: flex;
    align-items: start;
}

.goods-detail header .img {
    width: 320px;
}

.goods-detail header .text {
    flex-grow: 1;
    margin-left: 24px;
}

.goods-detail header .text > * {
    margin: 16px 0;
}

.goods-detail header h1.title {
    margin-top: 0;
}

.goods-detail header .price {
    margin-bottom: 50px;
    color: var(--accent-color);
    font-size: 32px;
}

.goods-detail header .price:before {
    content: "¥";
    margin-right: 2px;
    font-size: 24px;
}

.goods-detail header .action {
    margin-right: 8px;
    padding: 8px 32px;
    font-size: 16px;
    border-radius: 4px;
}

.goods-detail header .action.buy-now {
    color: var(--accent-color);
    background: #ffedcb;
    border: #efcca6 1px solid;
}

.goods-detail header .action.add-to-car {
    color: var(--primary-text-color-light);
    background: #ff523a;
    border: #ff523a 1px solid;
}

.goods-detail header .seller {
    color: var(--secondary-text-color-dark);
    font-size: 12px;
}

.goods-detail section {
    padding: 24px 0;
}

.goods-detail section h2 {
    padding: 0 0 16px;
    color: var(--secondary-text-color-dark);
    font-weight: normal;
    border-bottom: var(--divider-color-dark) 1px solid;
}


/*    注册登陆表单    */

.rlf {
    display: flex;
    justify-content: center;
}

.rlf form {
    padding: 32px 64px;
    margin-top: 32px;
    background: #f7f7f7;
}

.rlf h1 {
    color: var(--secondary-text-color-dark);
    text-align: center;
}

.rlf h1:after {
    margin: 24px auto;
    width: 1em;
    height: 4px;
    content: '';
    display: block;
    background: var(--primary-color);

}

.rlf table {
    border-collapse: collapse;
    font-size: 18px;
    table-layout: fixed;
}

.rlf tr {
    border-bottom: var(--divider-color-dark) 1px solid;
}

.rlf tr.error {
    border: none;
}

.rlf td {
    padding: 24px 8px 4px;
}

.rlf tr.error td {
    padding: 4px 8px 0;
    font-size: 14px;
    color: var(--accent-color);
}

.rlf tr.error ul {
    padding: 0;
    margin: 0;
}

.rlf tr.error li {
    list-style: none;
}

.rlf tr.error li:before {
    content: "!";
    width: 1em;
    line-height: 1em;
    margin-right: .25em;
    font-size: .5em;
    color: var(--primary-text-color-light);
    background: var(--accent-color);
    border-radius: 1em;
    display: inline-block;
    text-align: center;
}

.rlf label {
    color: var(--secondary-text-color-dark);
}

.rlf input {
    outline: none;
    font-size: inherit;
    background: transparent;
}

.rlf input[type=text], .rlf input[type=password], .rlf input[type=email], .rlf input[type=number] {
    border: none;
}

.rlf .actionbar {
    margin: 32px 0 24px;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.rlf .action {
    padding: 12px 32px;
}

.rlf input[type=submit].action {
    border: none;
    color: var(--primary-text-color-light);
    background: var(--primary-color);
    cursor: pointer;
    flex-shrink: 1;
}

.rlf a.action {
    color: var(--primary-color);
}
