{% load static %}<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <title>
    {% block tag_title %}商城·Shop{% endblock %}
  </title>
  <link rel="stylesheet" href="{% static 'shop/css/style.css' %}">
</head>
<body>
<header>
  <div class="title">
    <a href="{% url 'shop:goods_list' %}">商城·Shop</a>
    {% block header_subtitle %}
      {% if seller %}
        <a class="sub" href="{% url 'shop:goods_list' %}?s={{ seller.id }}">{{ seller.username }}</a>
      {% endif %}
    {% endblock %}
  </div>
  <form class="search" action="{% url 'shop:goods_list' %}" method="get">
    <input name="g" type="text" value="{{ search_text }}"><input type="submit" value="搜索">
  </form>
  <div class="actionbar">
    <a class="action" href="{% url 'shop:register' %}">注册</a>
    <a class="action" href="#">登陆</a>
  </div>
</header>

<main>
  {% block main %}{% endblock %}
</main>

<footer>
  <div class="copyright">©商城·Shop 2019</div>
</footer>
</body>
</html>