{% extends 'shop/base.html' %}

{% block main %}
  <h1>
    {% if search_text %}
      搜索商品：{{ search_text }}
    {% else %}
      所有商品
    {% endif %}
  </h1>
  {#    商品列表    #}
  <ul class="goods-list">
    {% if goods_list %}
      {% for goods in goods_list %}
        <li>
          <a href="{% url 'shop:goods_detail' goods.pk %}">
            <img class="img" src="{{ goods.image.url }}" alt="{{ goods.goods_name }}">
          </a>
          <div class="text">
            <a class="name" href="{% url 'shop:goods_detail' goods.pk %}">{{ goods.goods_name }}</a>
            <div class="price">{{ goods.price }}</div>
            <div class="seller">{{ goods.seller }}</div>
          </div>
        </li>
      {% endfor %}
    {% else %}
      <div>sorry，未搜索到合适的内容。</div>
    {% endif %}
  </ul>
{% endblock %}
