{% extends 'shop/base.html' %}
{% load static %}

{% block main %}
  <div class="b-form rl-form">
    <form id="user_login_form" class="card" action="" method="post">
      <h1>登陆</h1>
      {% include 'shop/inc/table_form.html' %}
      <div class="actionbar">
        <input class="action card" type="submit" value="登陆">
        <a class="action" href="{% url 'shop:register' %}">还没账号，我要注册</a>
      </div>
    </form>
  </div>

  <script src="{% static 'shop/js/user.js' %}"></script>
  <script src="{% static 'shop/js/sha256.min.js' %}"></script>
{% endblock %}
