{% extends 'shop/base.html' %}
{% load static %}

{% block main %}
  <div class="b-form rl-form">
    <form id="user_register_form" class="b-card" action="" method="post">
      <h1>注册</h1>
      {% include 'shop/inc/table_form.html' %}
      <div class="b-actionbar">
        <input class="b-action b-action-primary b-card" type="submit" value="注册">
        <a class="b-action b-action-flat" href="{% url 'shop:login' %}">已有账号，我要登陆</a>
      </div>
    </form>
  </div>

  <script src="{% static 'shop/js/user.js' %}"></script>
  <script src="{% static 'shop/js/sha256.min.js' %}"></script>
{% endblock %}
